h1{
  margin-left:6em;
}

.post-img{
  display: block;
  width: 200px;
  height: 200px;
  vertical-align: initial;
}
.icon{
margin-left: 20em;
font-size: 34px;
margin-top: 1em;
background: red;
}
.formControlsTextarea{
  margin-bottom: 3em;
}
